<!DOCTYPE html>

<head>
  <title>Resetar senha</title>
</head>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 24px;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  a {
    display: block;
    padding: 10px 0;
    background-color: #3200fa;
    color: #fff;
    text-align: center;
  }
</style>

<body>
  <h1>
    Redefinição de senha
  </h1>
  <br />
  <p>
    Clique no botão abaixo para redefinir a sua senha, o link expira em 24 horas.
  </p>
  <p>
    <a href="http://localhost:3333/resetar-senha/<%= email %>/<%= token %>">RESETAR A SENHA</a>
  </p>
</body>

</html>